<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="../../../assets/Logos/foto_perfil.jpeg"  id="foto_perfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <p id="nombre">{{persona.nombre}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
            <p>Quidem earum amet cupiditate optio maiores illo commodi aut delectus.</p>
            <p>Neque tenetur aut maxime ea iure odit est voluptates delectus! Iure, vel.</p>
        </span>
    </div>
</div>
