<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="../../../assets/Logos/foto_perfil.jpeg"  id="foto_perfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <p id="nombre">{{persona.nombre +" "+ persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span>
            <h1>Acerca de mi</h1>
            <p>
                Hola soy Seba, me recibi de Diseñador Industrial en Escuelas Ort.<br /> 
                Me gustan los Videos Juegos, por esa razon quiero poder programar<br /> 
                 y desarrollar uno. 
            </p>
        </span>
    </div>
</div>
