<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>educacion 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Nam aliquid recusandae facilis vero nulla ullam hic totam 
                veritatis labore quasi, nihil, harum magni rem aperiam 
                expedita deserunt optio inventore dicta.</p>
        </ul>
        <ul>
            <li>
                <h1>educacion 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Nam aliquid recusandae facilis vero nulla ullam hic totam 
                veritatis labore quasi, nihil, harum magni rem aperiam 
                expedita deserunt optio inventore dicta.</p>
        </ul>
        <ul>
            <li>
                <h1>educacion 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Nam aliquid recusandae facilis vero nulla ullam hic totam 
                veritatis labore quasi, nihil, harum magni rem aperiam 
                expedita deserunt optio inventore dicta.</p>
        </ul>
    </div>
</div>

