<div class="row">
    <div class="container">
        <div class="logo">
        <img src="../../../assets/Logos/APLogo.png" id="logoAP"/>
        </div>
        <div>
            <a href=""><img src="../../../assets/Logos/linkedin.png" id="linkedin"></a>
            <a href=""><img src="../../../assets/Logos/twitter.png" id="twitter"></a>
            <a href="https://www.instagram.com/disenioconlapi/"><img src="../../../assets/Logos/instagram.png" id="instagram"></a>
            <a href="https://github.com/Sebazcu"><img src="../../../assets/Logos/github.png" id="github"></a>
            <a href=""><img src="../../../assets/Logos/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()">Iniciar Sesión</button>
        </div>
    </div>
</div>        
