.row{
    padding: 25px;
}

div{
    background-color: black;
    text-align: center;
    color: white;
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top:  20%;
    font-size: 17px;
}
 
/*etiqueta foto de perfil*/
@media (min-width: 576px) {
    #foto_perfil{
        width: 90%;
        border-radius: 35%;
        box-shadow: 3px 3px 3px rgb(73, 153, 228);
        left: 1%; 
        margin-top: 10px;   
    }
}

@media (max-width: 575px) {
    #foto_perfil{
        position: absolute;
        width: 35%;
        border-radius: 35%;
        box-shadow: 3px 3px 3px rgb(73, 153, 228);
        left: 32%;
        top: 400px;    
    }
}
 

