<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Logos/foto_perfil.jpeg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Sebastian Azcurra</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
            <p>Quidem earum amet cupiditate optio maiores illo commodi aut delectus.</p>
            <p>Neque tenetur aut maxime ea iure odit est voluptates delectus! Iure, vel.</p>
        </span>
    </div>
</div>
